@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap')

*
  padding: 0px
  margin: 0px
  // border: 1px solid black
  font-family: 'Noto Sans', sans-serif
  font-size: 16px

////// guide: colors //////
$cyan100: #AADDEE
$cyan700: #66AABB
$cyan800: #448899
$cyan900: #2B798C

$gray800: #666666
$gray700: #757575
$gray300: #E8E8E8
$gray50: #F8F8F8

$red: #EB5757

////// guide: typography //////
%sloganTitle
  font-size: 30px
  font-weight: 700
  line-height: 34px
  letter-spacing: 1px

%header
  font-size: 24px
  font-weight: 700
  line-height: 24px 
  letter-spacing: 1px
  color: $gray800

%dialogTitle
  font-size: 30px
  font-weight: 400
  line-height: 34px
  letter-spacing: 1px
%dialogTitle_B
  font-size: 30px
  font-weight: 700
  line-height: 34px
  letter-spacing: 1px

%button
  font-size: 19px
  font-weight: 400
  line-height: 16px
  letter-spacing: 1px

%button_B
  font-size: 19px
  font-weight: 700
  line-height: 16px
  letter-spacing: 1px
  color: $gray800

%content
  font-size: 16px
  font-weight: 400
  line-height: 23.17px
  letter-spacing: 1px

%content_B
  font-size: 16px
  font-weight: 700
  line-height: 23.17px
  letter-spacing: 1px

%body
  font-size: 16px
  font-weight: 400
  line-height: 13.3px
  letter-spacing: 1px
  color: $gray800

%body_B
  font-size: 16px
  font-weight: 700
  line-height: 23.17px
  letter-spacing: 1px
  color: $gray800


////// mixin: size //////
@mixin size($width,$height)
	width: $width
	height: $height
////// mixin: center //////
@mixin getcenter()
  display: flex
  justify-content: center
  align-items: center

////// mixin: CTA //////
@mixin CTA($W,$H)
  +size($W,$H)
  +getcenter
  color: #FFFFFF
  background-color: $cyan800
  border-radius: 5px
  &:hover
    background-color: $cyan900
    cursor: pointer



