@import "general"
@import "animation"

// tourSelect
.tourSelect
    display: flex
    padding-top: 40px
    padding-bottom: 40px
    border-bottom: 1px solid $gray300
.attImage
    width: 50%
    height: 389px
    border-radius: 5px
    margin-right: 30px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $gray300
    position: relative
    background-size: cover
.backImageBTN
    +size(30px,30px)
    background-image: url("/static/icon/btn_leftArrow.png")
    background-size: cover
    margin-left: 15px
    &:hover
        cursor: pointer
        transform: translateX(-4px)

.nextImageBTN
    +size(30px,30px)
    background-image: url("/static/icon/btn_rightArrow.png")
    background-size: cover
    margin-right: 15px
    &:hover
        cursor: pointer
        transform: translateX(4px)

.imageDot
    position: absolute
    bottom: 15px
    left: 50%
    transform: translateX(-50%)
    display: flex
.dot
    +size(8px,8px)
    margin-right: 4px
    margin-left: 4px
    border: 2px solid #fff
    background-color: #fff
    border-radius: 50% 
    &:hover
        cursor: pointer

.attInfo
    width: 50%
    & h1
        margin-bottom: 15px
    & label
        font-size: 16px
        font-weight: 400
        line-height: 25px
        letter-spacing: 1px
        color: $gray800
    & .inline
        margin-bottom: 15px
    & .subTitle
        margin-bottom: 15px

.attType
    margin-bottom: 20px

.inline
    display: flex
    align-items: center
    & h6
        margin-right: 10px

.bookingBox
    padding: 20px
    border-radius: 5px
    background-color: $gray300

.bookingTitle
    margin-bottom: 15px

input[type="date"]
    box-sizing: border-box
    color: $gray700
    padding: 5px 10px
    &:focus
        outline-color: $cyan700
    &:required
        color: $gray800

input[type="date"]::-webkit-calendar-picker-indicator
    background: url("/static/icon/icon_calendar.png") center/80% no-repeat
    opacity: 0.6
    &:hover
        opacity: 1
        cursor: pointer

input[type="radio"]+label
    vertical-align: middle
    &:hover
        cursor: pointer
label
    margin-right: 10px
input[type="radio"]+label::before
    +size(20px,20px)
    box-sizing: border-box
    border: 2px solid #fff
    content: " "
    display: inline-block
    vertical-align: middle
    background-color:#fff
    border-radius: 50%
    margin-right: 4px
    
input[type="radio"]:checked+label:before
    background-color: #448899

.tourCTA
    margin-right: 10px
.dateError
    display: none
    align-items: center

.dateErrorImage
    margin-right: 6px
.dateErrorText
    color: $red
.btnBox
    display: flex
    align-items: center
// content
.contents
    padding-top: 40px
    padding-bottom: 40px
    border-bottom: 1px solid $gray300
.content
    margin-bottom: 15px


// weather
.weather
    padding-top: 40px
    padding-bottom: 40px
    & h6
        margin-bottom: 15px
.weatherBox
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.day
    // +size(12%,200px)
    padding: 20px 30px 20px 30px
    background-color: $gray300
    border-radius: 5px
    margin-bottom: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
.weather_image
    +size(50px,50px)
    background-image: url("/static/icon/icon_weather_sunny.png")
    background-size: cover
.weather_image
    margin-bottom: 15px
.humidity
    +getcenter()
    & h6
        margin: 0
.humidity_icon
    background-image: url("/static/icon/icon_humidity.png")
    background-size: cover
    +size(10px,13px)
    margin-right: 10px