@import "general"
@import "shareElement"

//共用class
.V-Center
    display: flex
    align-items: center

.ALL-Center
    display: flex
    align-items: center
    justify-content: center
button
    border: none

input[type="date"]
    box-sizing: border-box
    border-radius: 5px
    border: 2px solid $gray300
    color: $gray700
    padding: 5px 10px
    &:focus
        outline-color: $cyan700
    &:required
        color: $gray800
input[type="date"]::-webkit-calendar-picker-indicator
    background: url("/static/icon/icon_calendar.png") center/80% no-repeat
    opacity: 0.6
    &:hover
        opacity: 1
        cursor: pointer

label
    margin-left: 10px
input[type="radio"]+label
    vertical-align: middle
    &:hover
        cursor: pointer

input[type="radio"]+label::before
    +size(20px,20px)
    box-sizing: border-box
    content: " "
    display: inline-block
    vertical-align: middle
    border: 2px solid #fff
    background-color:#fff
    border-radius: 50%
    margin-right: 4px
    
input[type="radio"]:checked+label:before
    background-color: #448899


////// container grid //////
#signPOPUP
    display: none
.container
  display: grid
  positon: relative
  grid-template-rows:37px minmax(auto,406px) auto auto
  grid-template-columns: minmax(20px,auto) minmax(auto,540px) minmax(auto,600px) minmax(20px,auto)
  grid-template-areas: ". . . ." ". B2 B3 ." ". hr hr ." ". B4 B4 ."

#attImage
    grid-area: B2
    position: relative
    height: 100%
    width: 100%
    border-radius: 5px
    & #backImageBTN
        +size(36px,36px)
        position: absolute
        top: 185px
        left: 10px
        background-image: url("/static/icon/btn_leftArrow.png")
        &:hover
            cursor: pointer
    & #nextImageBTN
        +size(36px,36px)
        position: absolute
        top: 185px
        right: 10px
        background-image: url("/static/icon/btn_rightArrow.png")
        &:hover
            cursor: pointer
    & .imageDot
        +getcenter
        position: absolute
        width: 100%
        bottom: 8px
        // & .dot
        //     background-color: $gray300
        //     border-radius: 10px
        //     +size(8px,8px)
        //     margin-left: 4px
        //     margin-right: 4px
        //     &:hover
        //         cursor: pointer

.attInfo
    grid-area: B3
    color: $gray800
    & .infoBox
        position: relative
        padding-left: 30px
    & #attName
        @extend %header
        margin-left: 20px
        margin-bottom: 20px
    & #attType
        @extend %body
        margin-left: 20px
        margin-bottom: 20px
    & .tourForm
        background-color: $gray300
        padding-top: 15px
        padding-bottom: 41px
        border-radius: 5px
        & .tourTitle
            margin: 15px auto 15px 20px 
            @extend %body_B
        & .tourContent
            margin: 0px auto 15px 20px
        & .selTitle
            margin-right: 3px
            margin-left: 20px
            @extend %body_B
        & .date
            height: 35px
        & .flexBox
            display: flex
            align-items: center
            margin-top: 15px
            margin-bottom: 15px
            & .am ,.pm
                display: flex
                align-items: center
            & .selBTN
                +size(22px,22px)
                +getcenter
                background-color: #FFFFFF
                border-radius: 100%
                margin-right: 5px
                margin-left: 10px
        & .tourCTA
            +CTA(154px,36px)
            margin-left: 20px
            & .CTAtext
                @extend %button
        & #selctedBTN
            // margin-left: 18px
            // margin-right: 4px
            +size(18px,18px)
            border-radius: 100%
            background-color: $cyan800
hr
    grid-area: hr
    margin-top: 41px
    margin-bottom: 50px
    border: 1px solid $gray300

.contents
    grid-area: B4
    & .item
        @extend %body_B
        color: $gray800
        padding-top: 6px
        padding-bottom: 6px
    & .content
        color: $gray800
        @extend %content
        margin-bottom: 20px
.dateError
    +getcenter
    display: none
    & .dateErrorImage
        margin-left: 15px
    & .dateErrorText
        margin-left: 5px
        color: $red

    
////// RWD //////
@media (max-width: 720px)
    .header
        padding-left: 10px
        padding-right: 10px
    #attImage
        border-radius: 0px
    .container
        grid-template-rows: 54px 37px minmax(auto,350px) auto 90px auto 224px
        grid-template-columns: 15px auto 15px
        grid-template-areas:  "H H H" ". . ." "B2 B2 B2" ". B3 ." ". hr ." ". B4 ." "F F F"
    .infoBox
        padding: 0px !important
        margin-top: 20px

@media (max-width: 360px)
    .container
        grid-template-columns: 5px auto 5px
