@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.header .title, .attInfo #attName {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.attInfo .tourBox .tourCTA .CTAtext {
  font-size: 19px;
  line-height: 16px;
}

.contents .content {
  font-size: 16px;
  line-height: 23.17px;
}

.header .menu, .attInfo #attType {
  font-size: 16px;
  line-height: 13.3px;
}

.footer .copyright, .title, .contents .item {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.17px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B1;
  width: 100%;
  height: 54px;
  position: fixed;
  background-color: #FFFFFF;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header .box1200 {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title {
  color: #448899;
}

.header .menu {
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu .menuBTN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #757575;
}

.footer .copyright {
  color: #FFFFFF;
}

.container {
  display: -ms-grid;
  display: grid;
  positon: relative;
  -ms-grid-rows: 54px 37px minmax(auto, 406px) auto auto 224px;
      grid-template-rows: 54px 37px minmax(auto, 406px) auto auto 224px;
  -ms-grid-columns: auto minmax(auto, 540px) minmax(auto, 600px) auto;
      grid-template-columns: auto minmax(auto, 540px) minmax(auto, 600px) auto;
      grid-template-areas: ". B1 B1." ". . . ." ". B2 B3 ." ". hr hr ." ". B4 B4 ." "B5 B5 B5 B5";
}

#attImage {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: B2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#attImage #backImageBTN {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 185px;
  left: 10px;
  background-image: url("/static/icon/btn_leftArrow.png");
}

#attImage #nextImageBTN {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 185px;
  right: 10px;
  background-image: url("/static/icon/btn_rightArrow.png");
}

.title {
  margin-left: 20px;
}

.attInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: B3;
  color: #666666;
}

.attInfo #attName {
  margin-left: 30px;
  margin-bottom: 20px;
}

.attInfo #attType {
  margin-left: 30px;
  margin-bottom: 20px;
}

.attInfo .tourBox {
  background-color: #E8E8E8;
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 41px;
  border-radius: 5px;
}

.attInfo .tourBox .tourTitle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.attInfo .tourBox .tourContent {
  margin-left: 20px;
}

.attInfo .tourBox .selTitle {
  margin-right: 5px;
}

.attInfo .tourBox .date {
  height: 35px;
}

.attInfo .tourBox .flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.attInfo .tourBox .flexBox .am, .attInfo .tourBox .flexBox .pm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attInfo .tourBox .flexBox .selBTN {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-radius: 100%;
}

.attInfo .tourBox .tourCTA {
  width: 154px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #448899;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 25px;
}

.attInfo .tourBox #selctedBTN {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #448899;
}

hr {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hr;
  margin-top: 41px;
  margin-bottom: 50px;
  border: 1px solid #E8E8E8;
}

.contents {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: B4;
}

.contents .item {
  color: #666666;
  padding-top: 6px;
  padding-bottom: 6px;
}

.contents .content {
  color: #666666;
  margin-bottom: 20px;
}

.footer {
  margin-top: 120px;
}
/*# sourceMappingURL=attraction.css.map */