@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.header .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 1px;
}

.attInfo #attName {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
}

.attInfo .tourBox .tourCTA .CTAtext {
  font-size: 19px;
  line-height: 16px;
  letter-spacing: 1px;
}

.contents .content {
  font-size: 16px;
  line-height: 23.17px;
  letter-spacing: 1px;
}

.header .menu, .attInfo #attType {
  font-size: 16px;
  line-height: 13.3px;
  letter-spacing: 1px;
}

.footer .copyright, .attInfo .tourBox .tourTitle, .attInfo .tourBox .selTitle, .contents .item {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.17px;
  letter-spacing: 1px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: B1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  z-index: 9999;
}

.header .title {
  color: #448899;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666666;
}

.header .menu .menuBTN {
  margin-left: 20px;
}

.line {
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #E8E8E8;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #757575;
  margin-top: 120px;
}

.footer .copyright {
  color: #FFFFFF;
}

.container {
  display: -ms-grid;
  display: grid;
  positon: relative;
  -ms-grid-rows: 54px 37px minmax(auto, 406px) auto auto 224px;
      grid-template-rows: 54px 37px minmax(auto, 406px) auto auto 224px;
  -ms-grid-columns: minmax(20px, auto) minmax(auto, 540px) minmax(auto, 600px) minmax(20px, auto);
      grid-template-columns: minmax(20px, auto) minmax(auto, 540px) minmax(auto, 600px) minmax(20px, auto);
      grid-template-areas: ". B1 B1 ." ". . . ." ". B2 B3 ." ". hr hr ." ". B4 B4 ." "B5 B5 B5 B5";
}

#attImage {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: B2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#attImage #backImageBTN {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 185px;
  left: 10px;
  background-image: url("/static/icon/btn_leftArrow.png");
}

#attImage #nextImageBTN {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 185px;
  right: 10px;
  background-image: url("/static/icon/btn_rightArrow.png");
}

.attInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: B3;
  color: #666666;
}

.attInfo .infoBox {
  position: relative;
  padding-left: 30px;
}

.attInfo #attName {
  margin-left: 20px;
  margin-bottom: 20px;
}

.attInfo #attType {
  margin-left: 20px;
  margin-bottom: 20px;
}

.attInfo .tourBox {
  background-color: #E8E8E8;
  padding-top: 15px;
  padding-bottom: 41px;
  border-radius: 5px;
}

.attInfo .tourBox .tourTitle {
  margin: 15px auto 15px 20px;
}

.attInfo .tourBox .tourContent {
  margin: 0px auto 15px 20px;
}

.attInfo .tourBox .selTitle {
  margin-right: 3px;
  margin-left: 20px;
}

.attInfo .tourBox .date {
  height: 35px;
}

.attInfo .tourBox .flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.attInfo .tourBox .flexBox .am, .attInfo .tourBox .flexBox .pm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attInfo .tourBox .flexBox .selBTN {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-radius: 100%;
  margin-right: 5px;
  margin-left: 10px;
}

.attInfo .tourBox .tourCTA {
  width: 154px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #448899;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 25px;
}

.attInfo .tourBox #selctedBTN {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #448899;
}

hr {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hr;
  margin-top: 41px;
  margin-bottom: 50px;
  border: 1px solid #E8E8E8;
}

.contents {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: B4;
}

.contents .item {
  color: #666666;
  padding-top: 6px;
  padding-bottom: 6px;
}

.contents .content {
  color: #666666;
  margin-bottom: 20px;
}

@media (max-width: 720px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  #attImage {
    border-radius: 0px;
  }
  .container {
    -ms-grid-rows: 54px 37px minmax(auto, 350px) auto 90px auto 224px;
        grid-template-rows: 54px 37px minmax(auto, 350px) auto 90px auto 224px;
    -ms-grid-columns: 15px auto 15px;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: "B1 B1 B1" ". . ." "B2 B2 B2" ". B3 ." ". hr ." ". B4 ." "B5 B5 B5";
  }
  .infoBox {
    padding: 0px !important;
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .container {
    -ms-grid-columns: 5px auto 5px;
        grid-template-columns: 5px auto 5px;
  }
}
/*# sourceMappingURL=attraction.css.map */