@import "general"

//tour
.tour
    padding: 40px 110px 45px 110px
    border-bottom: 1px solid $gray300
.tourHL
    font-weight: 700
    margin-bottom: 30px
.tourInfo
    display: flex
    position: relative
    & h6
        font-weight: 700
        margin-bottom: 20px
        & span
            font-weight: 400
    & .tourName
        margin-top: 10px
        margin-bottom: 30px
        color: $cyan800
        & span
            font-weight: 700
.noTour
    display: none
.tourImage
    +size(250px,200px)
    margin-right: 30px
    background-size: cover
    border-radius: 5px
.tourDel
    +size(30px,30px)
    background-image: url("/static/icon/icon_delete.png")
    background-size: cover
    position: absolute
    right: 0px
    top: 0px
    opacity: 0.8
    &:hover
        opacity: 1
        cursor: pointer

// contact
.contact
    padding: 44px 110px 40px 110px
    border-bottom: 1px solid $gray300
    & h4
        font-weight: 700
        margin-bottom: 24px
    & h6
        margin-bottom: 15px
        & span
            font-weight: 400
        & input
            +size(200px,38px)
            text-indent: 10px
            border-radius: 5px
            border: 1px solid $gray300
.ps
    margin-top: 30px
    font-weight: 700

// card
.card
    padding: 44px 110px 40px 110px
    border-bottom: 1px solid $gray300
    & h4
        font-weight: 700
        margin-bottom: 24px
    & h6
        margin-bottom: 15px
        & span
            font-weight: 400
        & input
            +size(200px,38px)
            text-indent: 10px
            border-radius: 5px
            border: 1px solid $gray300

// confirm
.confirm
    padding: 44px 110px 40px 110px
    display: flex
    flex-direction: column
    align-items: flex-end
    & h6
        font-weight: 700
        margin-bottom: 25px
    & button
        padding: 10px 20px 10px 20px
        border-radius: 5px
    & h4
        color: #fff

