@import "general"

//tour
.tour
    display: none
    padding: 40px 110px 45px 110px
    border-bottom: 1px solid $gray300
.tourHL
    font-weight: 700
    margin-bottom: 30px

.tourInfo
    width: 100%
    display: flex
    position: relative
    flex-wrap: wrap
    & h6
        font-weight: 700
        margin-bottom: 20px
        & span
            font-weight: 400
    & .tourName
        margin-top: 10px
        margin-bottom: 30px
        color: $cyan800
        & span
            font-weight: 700
.noB
    font-weight: 400
.info
    width: 450px
.noTour
    display: none
.tourImage
    width: 40%
    aspect-ratio: 266/200
    margin-right: 30px
    background-size: cover
    border-radius: 5px
.tourDel
    +size(30px,30px)
    background-image: url("/static/icon/icon_delete.png")
    background-size: cover
    position: relative
    right: 0px
    top: 0px
    opacity: 0.8
    &:hover
        opacity: 1
        cursor: pointer


// contact
.contact
    display: none
    padding: 44px 110px 40px 110px
    border-bottom: 1px solid $gray300
    & h4
        font-weight: 700
        margin-bottom: 24px
    & h6
        margin-bottom: 15px
        & span
            font-weight: 400
        & input
            +size(200px,38px)
            text-indent: 10px
            border-radius: 5px
            border: 1px solid $gray300
.ps
    margin-top: 30px
    font-weight: 700
    
.errorMessage
    font-weight: 700
    color: $red
    margin: 0px 0px 0px 10px !important

// card
.card
    display: none
    padding: 44px 110px 40px 110px
    border-bottom: 1px solid $gray300
    & h4
        font-weight: 700
    & h6
        & span
            font-weight: 400
        & input
            +size(200px,38px)
            text-indent: 10px
            border-radius: 5px
            border: 1px solid $gray300

.tpfield
    +size(180px,18px)
    padding: 10px
    border: 1px solid $gray300
    border-radius: 5px
.cardInfo
    display: flex
    align-items: center
    margin-bottom: 15px
    
.errorInfo,.errorContact
    display: none
    align-items: center
.cardError
    font-weight: 700
    color: $red
    margin: 0px 0px 0px 10px

.cardBox
    display: flex
    margin-bottom: 24px
    align-items: center
.testcardBTN
    background-image: url("/static/icon/icon_cardtest.png")
    background-size: cover
    +size(20px,16px)
    margin-left: 8px
    &:hover
        background-image: url("/static/icon/icon_testcard(hover).png")
        cursor: pointer
.testcardInfo
    font-size: 8px
    color: #fff
    padding: 1px 3px 1px 3px 
    border-radius: 2px
    background-color: $cyan800
    margin-left: 4px


// confirm
.confirm
    display: none
    padding: 44px 110px 40px 110px
    flex-direction: column
    align-items: flex-end
    & h6
        font-weight: 700
        margin-bottom: 25px
    & button
        padding: 10px 20px 10px 20px
        border-radius: 5px
    & h4
        color: #fff

//RWD
@media screen and ( max-width: 1200px )
    .tour
        padding: 40px 60px 40px 60px
    .tourImage
        width: 50% !important
        margin: 0px
        margin-right: 20px
    .contact
        padding: 40px 60px 40px 60px
    .card
        padding: 40px 60px 40px 60px
    .confirm
        padding: 40px 60px 40px 60px

@media screen and ( max-width: 844px )
    .tour
        padding: 40px 40px 40px 40px
    .tourImage
        width: 50% !important
        margin: 0px
        margin-right: 20px
    .contact
        padding: 40px 40px 40px 40px
    .card
        padding: 40px 40px 40px 40px
    .confirm
        padding: 40px 40px 40px 40px
    
@media screen and ( max-width: 810px )
    .tour
        padding: 40px 30px 40px 30px
    .tourImage
        width: 100% !important
        margin: 0px
    .info
        margin-top: 30px
    .contact
        padding: 40px 30px 40px 30px
    .card
        padding: 40px 30px 40px 30px
    .confirm
        padding: 40px 30px 40px 30px
    .tourDel
        position: absolute
        bottom: 0px
        top: auto

@media screen and ( max-width: 500px )
    .tour
        padding: 40px 0px 40px 0px
    .tourImage
        width: 100% !important
        margin: 0px
    .info
        margin-top: 30px
    .contact
        padding: 40px 0px 40px 0px
    .card
        padding: 40px 0px 40px 0px
    .confirm
        padding: 40px 0px 40px 0px
    .tourDel
        position: absolute
        bottom: 0px
        top: auto