@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.KV-info .slogan1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.header .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.header .menu, .KV-info .slogan2, #content .attraction .attMrt, #content .attraction .attCategory {
  font-size: 16px;
  line-height: 13.3px;
}

.footer .copyright, #content .attraction .attName {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.17px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B1;
  width: 100%;
  height: 54px;
  position: fixed;
  background-color: #FFFFFF;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header .box1200 {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title {
  color: #448899;
}

.header .menu {
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu .menuBTN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: B5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #757575;
}

.footer .copyright {
  color: #FFFFFF;
}

.container {
  display: -ms-grid;
  display: grid;
  positon: relative;
  -ms-grid-rows: 54px 320px auto 55px 104px;
      grid-template-rows: 54px 320px auto 55px 104px;
  -ms-grid-columns: auto minmax(auto, 1200px) auto;
      grid-template-columns: auto minmax(auto, 1200px) auto;
      grid-template-areas: ". B1 ." "B2 B2 B2" ". B3 ."  "B4 B4 B4" "B5 B5 B5";
}

.KV {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: B2;
  background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
  position: relative;
}

.KV .KV-image {
  position: absolute;
  right: 232px;
  background-image: url("/static/image/welcome_1.png");
  background-size: cover;
  width: 650px;
  height: 320px;
}

.KV-info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  z-index: 3;
}

.KV-info .slogan1 {
  color: #F8F8F8;
  margin-top: 85px;
}

.KV-info .slogan2 {
  margin-top: 15px;
  color: #F8F8F8;
}

.KV-info #keyword_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.KV-info #keyword_form .input {
  width: 400px;
  height: 46px;
  background-color: #FFFFFF;
  color: #757575;
  outline: none;
  text-indent: 15px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.KV-info #keyword_form .searchBTN {
  width: 60px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background-color: #448899;
  border-radius: 0px 5px 5px 0px;
}

#content {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: B3;
  margin-top: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
}

#content .attraction {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  height: 242px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 160px 41px 41px;
      grid-template-rows: 160px 41px 41px;
}

#content .attraction .attImage {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  background-color: #666666;
  border-radius: 5px 5px 0px 0px;
}

#content .attraction .attName {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  margin-left: 10px;
  margin-top: 13px;
  color: #757575;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content .attraction .attMrt {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  margin-left: 10px;
  margin-top: 15px;
  color: #757575;
}

#content .attraction .attCategory {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-area: 3/-1/4/-2;
  text-align: right;
  margin-right: 10px;
  margin-top: 15px;
  color: #757575;
}

#target {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: B4;
  height: 55px;
}

@media (max-width: 1200px) {
  #content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slogan1 {
    margin-left: 30px;
  }
  .slogan2 {
    margin-left: 30px;
  }
  .title {
    margin-left: 30px;
  }
  .menu {
    margin-right: 30px;
  }
  .input {
    margin-left: 30px;
    width: 300px !important;
  }
  .KV-image {
    right: 0px !important;
    bottom: 0px !important;
  }
}

@media (max-width: 770px) {
  .KV-image {
    background-image: url("/static/image/welcome_2.png") !important;
    width: 424px !important;
    height: 296px !important;
  }
}

@media (max-width: 430px) {
  .title {
    margin-left: 10px;
  }
  .menu {
    margin-right: 10px;
  }
  .slogan1 {
    margin-left: 20px;
  }
  .slogan2 {
    margin-left: 20px;
  }
  .input {
    margin-left: 20px;
    width: 230px !important;
    background-color: black;
  }
  #content {
    grid-gap: 15px;
    padding-left: 20px;
    padding-right: 18px;
  }
  body {
    -ms-grid-rows: 54px 280px auto 55px 104px;
        grid-template-rows: 54px 280px auto 55px 104px;
  }
  .KV-image {
    background-image: url("/static/image/welcome_3.png") !important;
    width: 212px !important;
    height: 148px !important;
  }
}
/*# sourceMappingURL=indexs.css.map */