{% extends "base.html" %}
{% block js %}
<script src="/static/javascript/attraction.js" defer></script>
{% endblock %}

{% block css %}
<link href="/static/css/attraction.css" rel="stylesheet">
{% endblock %}

{% block title %}
Taipei Trip 台北一日遊：旅遊景點
{% endblock %}

{% block content %}
<!-- tourSelect -->
<div class="tourSelect">
    <div class="attImage">
        <div class="backImageBTN"></div>
        <div class="loading-ani"><div></div><div></div></div>
        <div class="nextImageBTN"></div>
        <div class="imageDot"></div>
    </div>
    <div class="attInfo">
        <form class="tourForm" id="tourForm">
            <h1 class="attName">...</h1>
            <h6 class="attType">公共藝術 at 忠孝復興</h6>
            <div class="bookingBox">
                <h6 class="bookingTitle"><b>訂購導覽行程</b></h6>
                <h6 class="subTitle">以此景點為中心的一日行程，帶您探索城市角落故事</h6>
                <div class="inline">
                    <h6><b>選擇日期：</b></h6>
                    <input type="date" class="dateInput" name="date" min=2021-05-20>
                </div>
                <div class="inline">
                    <h6><b>選擇時間：</b></h6>
                    <input id="amRadio" type="radio" name="time" value="morning" checked="checked" hidden></input>
                    <label for="amRadio" class="timeLabel">上半天</label>
                    <input id="pmRadio" type="radio" name="time" value="afternoon" hidden></input>
                    <label for="pmRadio" class="timeLabel">下半天</label>
                </div>
                <div class="inline">
                    <h6 name=value><b>導覽費用：</b></h6>
                    <h6 id="tourPrice">新台幣<span class="price">2000</span>元</h6>
                </div>
                <div class="btnBox">
                    <button class="tourCTA">開始預定行程</button> 
                    <div class="dateError">
                        <img class="dateErrorImage" src="/static/icon/icon_dateError.png" width="20px" height="20px">
                        <h6 class="dateErrorText">請選擇日期</h6>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- contents -->
<div class="contents">
    <h6><b>景點簡介：</b></h6>
    <h6 class="content">...</h6>
    <h6><b>景點地址：</b></h6>
    <h6 class="content"></h6>
    <h6><b>交通方式：</b></h6>
    <h6 class="content"></h6>
</div>
<!-- weather -->
<div class="weather">
    <h6><b><span class="district"></span>一週天氣：</b></h6>
    <div class="weatherBox">
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="humidity">
                    <div class="humidity_icon"></div>
                    <h6 class="RH"></h6>
                </div>
                <div class="temperature">
                    <div class="temperature_icon"></div>
                    <h6 class="T"></h6>
                </div>
            </div>
        </div>
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="weatherInfo">
                    <div class="humidity">
                        <div class="humidity_icon"></div>
                        <h6 class="RH"></h6>
                    </div>
                    <div class="temperature">
                        <div class="temperature_icon"></div>
                        <h6 class="T"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="weatherInfo">
                    <div class="humidity">
                        <div class="humidity_icon"></div>
                        <h6 class="RH"></h6>
                    </div>
                    <div class="temperature">
                        <div class="temperature_icon"></div>
                        <h6 class="T"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="weatherInfo">
                    <div class="humidity">
                        <div class="humidity_icon"></div>
                        <h6 class="RH"></h6>
                    </div>
                    <div class="temperature">
                        <div class="temperature_icon"></div>
                        <h6 class="T"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="weatherInfo">
                    <div class="humidity">
                        <div class="humidity_icon"></div>
                        <h6 class="RH"></h6>
                    </div>
                    <div class="temperature">
                        <div class="temperature_icon"></div>
                        <h6 class="T"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="weatherInfo">
                    <div class="humidity">
                        <div class="humidity_icon"></div>
                        <h6 class="RH"></h6>
                    </div>
                    <div class="temperature">
                        <div class="temperature_icon"></div>
                        <h6 class="T"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="day">
            <div class="day-up">
                <div class="weather_image"></div>
                <h4><b class="date"></b></h4>
            </div>
            <div class="day-down">
                <div class="weatherInfo">
                    <div class="humidity">
                        <div class="humidity_icon"></div>
                        <h6 class="RH"></h6>
                    </div>
                    <div class="temperature">
                        <div class="temperature_icon"></div>
                        <h6 class="T"></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <h6><b>座標位置：</b></h6>
    <div id="mapid"></div>
</div>

{% endblock %}
   

