<!DOCTYPE html>
<head>
    <link href="/static/css/attraction.css" rel="stylesheet">
    <title>Taipei Trip台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="box1200">
                <div class="title">台北一日遊</div>
                <div class="menu">
                    <div class="menuBTN">預定行程</div>
                    <div class="menuBTN">登入/註冊</div>
                </div>
            </div>
        </div>
        <div class="attImage"></div>
        <div class="attInfo">
            <div id="attName"></div>
            <div id="attType"></div>
            <div class="tourBox">
                <div class="title tourTitle">訂購導覽行程</div>
                <div class="content tourContent">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="flexBox">
                    <div class="title selTitle">選擇日期：</div>
                    <input type="date" class="date">
                </div>
                <div class="flexBox">
                    <div class="title selTitle">選擇時間：</div>
                    <div class="am">
                        <div class="selBTN" id="selAM"></div>
                        <div class="content">上半天</div>
                    </div>
                    <div class="pm">
                        <div class="selBTN" id="selPM"></div>
                        <div class="content">下半天</div>
                    </div>
                </div>
                <div class="flexBox">
                    <div class="title selTitle">導覽費用：</div>
                    <div class="content" id="tourPrice">新台幣2000元</div>
                </div>
                <div class="tourCTA">
                    <div class="CATtext">開始預定行程</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="contents">
            <div class="content" id="attDes"></div>
            <div class="item">景點地址：</div>
            <div class="content" id="attAddress"></div>
            <div class="item">交通方式：</div>
            <div class="content" id="attTransport"></div>
        </div>
        <div class="footer">
            <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
        </div>       
    </div>
</body>
<script src="/static/javascript/attraction.js"></script>