{% extends "base.html" %}
{% block js %}
<script src="/static/javascript/attraction.js" defer></script>
{% endblock %}

{% block css %}
<link href="/static/css/attraction.css" rel="stylesheet">
{% endblock %}

{% block title %}
Taipei Trip 台北一日遊：旅遊景點
{% endblock %}

{% block content %}
<div id="attImage">
    <div id="backImageBTN" onclick=backImageBTN()></div>
    <div id="nextImageBTN" onclick=nextImageBTN()></div>
    <div class="imageDot">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>
<div class="attInfo">
    <div class="infoBox">
        <form class="tourForm" id="tourForm">
            <div id="attName"></div>
            <div id="attType"></div>
            <div class="tourTitle">訂購導覽行程</div>
            <div class="tourContent">以此景點為中心的一日行程，帶您探索城市角落故事</div>
            <div class="flexBox">
                <div class="selTitle">選擇日期：</div>
                <input type="date" class="dateInput" name="date" min=2021-05-20>
            </div>
            <div class="flexBox">
                <div class="selTitle">選擇時間：</div>
                <input id="amRadio" type="radio" name="time" value="morning" checked="checked" hidden></input>
                <label for="amRadio" class="timeLabel">上半天</label>
                <input id="pmRadio" type="radio" name="time" value="afternoon" hidden></input>
                <label for="pmRadio" class="timeLabel">下半天</label>
            </div>
            <div class="flexBox">
                <div class="selTitle" name=value>導覽費用：</div>
                <div class="content" id="tourPrice">新台幣<span class="price">2000</span>元</div>
            </div>
            <div class="V-Center">
                <button class="tourCTA">開始預定行程</button> 
                <div class="dateError">
                    <img class="dateErrorImage" src="/static/icon/icon_dateError.png" width="20px" height="20px">
                    <div class="dateErrorText">請選擇日期</div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="contents">
    <div class="content" id="attDes"></div>
    <div class="item">景點地址：</div>
    <div class="content" id="attAddress"></div>
    <div class="item">交通方式：</div>
    <div class="content" id="attTransport"></div>
</div>
{% endblock %}
   

