<!DOCTYPE html>
<head>
    <link href="/static/css/booking.css" rel="stylesheet">
    <title>Taipei Trip台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <div class="line"></div>
        <div class="header">
            <a href="/" class="title">台北一日遊</a>
            <div class="menu">
                <div class="menuBTN">預定行程</div>
                <div class="menuBTN">登入/註冊</div>
            </div>
        </div>
        <div class="tour">
            <div class="tourHL">您好，Yakko,待預定的行程如下:</div>
            <div class="flexBox">
                <div class="tourImage"></div>
                <div class="info">
                    <div class="tourName">台北一日遊：平安鐘</div>
                    <div class="flexBox_L">
                        <div class="tourTitle">日期：</div>
                        <div class="tourContent">2021-04-23</div>
                    </div>
                    <div class="flexBox_L">
                        <div class="tourTitle">時間：</div>
                        <div class="tourContent">早上 9 點到下午 4 點</div>
                    </div>
                    <div class="flexBox_L">
                        <div class="tourTitle">費用：</div>
                        <div class="tourContent">新台幣 2000 元</div>
                    </div>
                    <div class="flexBox_L">
                        <div class="tourTitle">地點：</div>
                        <div class="tourContent">臺北市 大安區忠孝東路4段</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="contactHL">您的聯絡資訊</div>
            <div class="BOX">
                <div class="contactTitle">聯絡姓名：</div>
                <input type="text" placeholder="Yakko">
            </div>
            <div class="BOX">
                <div class="contactTitle">連絡信箱：</div>
                <input type="text" placeholder="imyakkowu@gmail.com">
            </div>
            <div class="BOX">
                <div class="contactTitle">手機號碼：</div>
                <input type="text" placeholder="09XXXXXXXX">
            </div>
            <div class="contactPS">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <div class="card">
            <div class="cardHL">信用卡付款資訊</div>
            <div class="BOX">
                <div class="cardTitle">卡片號碼：</div>
                <input type="text" placeholder="**** **** **** ****">
            </div>
            <div class="BOX">
                <div class="cardTitle">過期時間：</div>
                <input type="text" placeholder="MM / YY">
            </div>
            <div class="BOX">
                <div class="cardTitle">驗證密碼：</div>
                <input type="text" placeholder="CVV">
            </div>
        </div>
        <div class="confirm">
            <div class="confirmTitle">總價：新台幣 2000 元</div>
            <div class="confirmCAT">
                <div class="CTAcontent">確認訂購並付款</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>
<script src=""></script>
