<!DOCTYPE html>
<head>
    <link href="/static/css/indexs.css" rel="stylesheet">
    <title>Taipei Trip台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <div class="line"></div>
        <div class="header">
            <div class="title">台北一日遊</div>
            <div class="menu">
                <div class="menuBTN">預定行程</div>
                <div class="menuBTN">登入/註冊</div>
            </div>
        </div>
        <div class="KV">
            <div class="KV-image"></div>
        </div>
        <div class="KV-info">
            <div class="slogan1">輕鬆享受台北一日悠閒</div>
            <div class="slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
            <form id="keyword_form">
                <input class="input" placeholder="輸入景點名稱查詢" name="keyword"></input>
                <button class="searchBTN">
                    <img src="/static/icon/icon_search.png" width="30px" height="30px">
                </button>
            </form>
        </div>
        <div id="content"></div>
        <div id="target"></div>
        <div class="footer">
            <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
        </div>
    </div>
</body>
<script src="static/javascript/index.js"></script>

