{% extends "base.html" %}

{% block js %}
<script src="/static/javascript/thankyou.js" defer></script>
{% endblock %}

{% block css %}
<link href="/static/css/thankyou.css" rel="stylesheet">
{% endblock %}

{% block title %}
Taipei Trip 台北一日遊：付款成功
{% endblock %}

{% block content %}
<h2>付款成功</h2>
<div class="box">
    <div class="payedInfo">
        <h4 class="payedNum">訂單編號<span class="number"></span></h4>
        <div class="infoBox">
            <div class="logo">
                <div class="icon"></div>
                <div class="webName">台北一日遊</div>
            </div>
            <div class="info">
                <h6>行程名稱：<span class="finName"></span></h6>
                <h6>預定日期：<span class="finDate"></span></h6>
                <h6>訂單金額：新台幣 <span class="finPrice"></span> 元</h6>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <button class="backHome">回到首頁</button>
    <button>會員專區</button>
</div>
{% endblock %}
